body{
   
    text-align: center;
    background-image:linear-gradient(rgb(255, 192, 203),rgb(145, 206, 195)) ;
    margin-left: 37%;
    margin-right: 70%;
    
}
fieldset{
    background-image: linear-gradient( rgb(176, 202, 214),rgb(125, 183, 210));
}
fieldset{
    
     margin-left: 32%;
     margin-right: 50%;
}

    


    